h1, p {
  font-family: Lato;
}

.sopasContainer {
  
}

.sopa {
  border: 1px solid black;
  padding: 20px;
  margin: 30px 25%;
  display: inline-block;
}

.sopaLinea {
  width: 100%;
  margin: 0 auto;
}

.sopa span {
  display: inline-block;
  margin: 5px;
  width: 1em;
  text-align: center;
}